<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hesam Site</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <h1>heading</h1>
    <a href="/home"> Contact </a>
    <a href="/about"> Contact </a>
    <a href="/work"> Contact </a>
    <a href="/photo-gallery"> Contact </a>

    <script src="../app.js"></script>
    <script src="../public/javascripts/main.js"></script>
  </body>
</html>
